@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family:  "unbounded";
    list-style-type: none;
}


@font-face {
    font-family: "unbounded";
    src: url('assets/font/Unbounded-Regular.ttf');
}
@font-face {
    font-family: "unbounded-medium";
    src: url('assets/font/Unbounded-Medium.ttf');
}
@font-face {
    font-family: "unbounded-bold";
    src: url('assets/font/Unbounded-Bold.ttf');
}